.product {
    background-color: var(--tg-theme-secondary-bg-color);
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--tg-them-button-color);
    border-radius: 10px;
    padding: 15px;
    /* width: 170px; */
}

.img {
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.season {
    /* color: greenyellow; */
}
.size {
    /* color: greenyellow; */
    margin-bottom: 10px;
}

.discription {
    /* color: greenyellow; */
    /* font-size: 0.8em; */
    margin-bottom: 10px;
}

.price {
    /* color: greenyellow; */
    margin-bottom: 10px;
}

.add-btn {
    width: 100%;
    border-radius: 10px;
}
